FLASK_ENV=development
SECRET_KEY=dev
# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
CHECKOUT_SUCCESS_URL=http://localhost:5001/static/order.html#success
CHECKOUT_CANCEL_URL=http://localhost:5001/static/order.html#cancel
# Kitchen delivery choice: KDS or PRINTER
DELIVERY_MODE=KDS # KDS | PRINTER
PRINTER_BACKEND=PRINTNODE # STAR | EPSON | PRINTNODE
PRINTNODE_API_KEY=pn_api_key_here
# Multi-location
LOCATION_ID=demo-texmex
